/* ===== MODAL BASE ===== */
.modalMy {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modalMy.activeMy {
    display: flex; /* показываем модалку */
}

.modalMy .modal-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

.modalMy .modal-dialog {
    position: relative;
    max-width: 500px;
    width: 90%;
    z-index: 2;
}

.modalMy .modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    position: relative;
}

.modalMy .modal-close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}
.modal_form_group label {
    font-size: 14px;
    margin-bottom: 4px;
}

.modal_form_group {
    display: flex;
    flex-direction: column;
}

.modal_form_group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal_add_to_cart button {
    width: 100%;
    padding: 12px;
    background: #222;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.mb-15 {
    margin-bottom: 15px;
}


/* utility */
body.modal-open {
    overflow: hidden;
}
